a{
  color: black;
  /* //删除下划线 */
  text-decoration: none;
  /* hover颜色为金色 */
  &:hover{
    color:gold;
  }
}

body{
  /* background: linear-gradient(to bottom, '#222','#222'); */
  background-color: #222;

  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}